* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Pacifico", cursive;
}
form {
  background-color: #f2d0a7;
}
.fieldset1 {
  display: flex;
  flex-direction: column;
  background-color: #f29849;
  border: 2px solid black;
  border-radius: 6px;
  margin-bottom: 20px;
}
.fieldset2 {
  background-color: #f29849;
  border: 2px solid black;
  border-radius: 6px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

legend {
  background-color: #f2360c;
  border: 2px solid black;
  border-radius: 6px;
  padding: 4px;
}
input[type="text"],
input[type="email"] {
  border: solid 2px;
  border-radius: 6px;
  padding: 10px;
  margin: 10px;
  width: 50%;
}
.textarea {
  margin-bottom: 9px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #f2d0a7;
  height: 200px;
}
footer ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.iconsocial {
  transition: transform 0.2s;
  width: 70px;
  height: 70px;
  margin-top: 20px;
}
.iconsocial:not(#maroc) {
  cursor: grab;
}
.iconsocial:hover {
  transform: scale(1.5);
}
.text-footer {
  margin-bottom: 0px;
}
