* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.cardsContainer {
  margin-left: 60px;
  margin-right: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 40px;
}

.cards {
  display: flex;
  flex-direction: column;
  min-width: 30px;
  width: 28%;
  align-items: center;
  /*height: auto;*/

  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.cards:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cards img {
  width: 100%;
  aspect-ratio: 1/1;
}

.cards button {
}
