/* ----------------------------- */
/* ------------Header----------- */
/* ----------------------------- */
nav {
    display: flex;
    justify-content: space-between;
    background-color: #f29849;
    padding: 21px 0;
  }
  
.ensemble-logo {
  display: flex;
  transition: all 0.2s ease-in-out;
}


.ensemble-logo:hover {
  transform: translateY(-5px);
}

.titre_site {
  margin: 0 10px;
  align-items: center;
  display: flex;
  font-size: 30px;
  font-family: "Mozaik Ramadhan", sans-serif;
  font-weight: bold;
}

.logo {
  height: 45px;
  margin-left: 25px;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

nav ul li a:hover {
  transform: translateY(-5px);
}

nav ul li ul li:hover {
  transform: translateY(-5px);
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  transition: all 0.2s ease-in-out;
  margin-right: 70px;
}

.menu_deroulant {
  position: relative;
}

.sous_menu {
  display: none;
  position: absolute;
  top: 100%;
  left: -60%;
  z-index: 1;
  background-color: #fff;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px 0px 10px 30px;
  background-color: #f29849;
}

.sous_menu li {
  display: block;
  width: 100%;
  margin-top: 18px;
  margin-bottom: 10px;
  padding-right: 20px;
}

.menu_deroulant:hover .sous_menu {
  display: block;
}

/* ----------------------------- */
/* ------------Footer----------- */
/* ----------------------------- */
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #f2d0a7;
    height: 200px;
  }
  
  footer ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }
  
  .iconsocial {
    transition: transform 0.2s;
    width: 70px;
    height: 70px;
    margin-top: 20px;
  }
  
  .iconsocial:not(#maroc) {
    cursor: grab;
  }
  
  .iconsocial:hover {
    transform: scale(1.5);
  }
  
  .text-footer {
    margin-bottom: 0px;
  }

/* ----------------------------- */
/* --------Media Querries------- */
/* ----------------------------- */

@media screen and (max-width:400px) {
    /* ----------------------------- */
    /* ------------Header----------- */
    /* ----------------------------- */
    header nav ul {
        justify-content: space-around; 
      }
  
      nav{
        flex-direction: column;
      }
  
      nav ul li a {
        margin-right: 0px;
        padding-top: 25px;
      }

    /* ----------------------------- */
    /* ------------Footer----------- */
    /* ----------------------------- */
}