/* ----------------------------- */
/* ----------Generals----------- */
/* ----------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Pacifico", cursive;
  background-color: #f2d0a7;
  height: 100%;
  width: 100%;
}

a {
  color: black;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}


/* ----------------------------- */
/* ------------Main------------- */
/* ----------------------------- */
.conteneur-image {
  position: relative;
  background-color: #fff;
}

.texte-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.7147233893557423) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.img_debut {
  display:block;  
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
}

.histoire {
  padding: 20px 50px;
  background-color: #f29849;
  color: white;
}

.histoire p{
  margin: 30px;
  font-size: 20px;
  line-height: 2;
}

/* ----------------------------- */
/* ------------Card------------- */
/* ----------------------------- */
#cards-container {
  background-color: #f2d0a7;
  margin: 30px 0;
  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 70px 90px;
}

.cards {
  background-color: #f29849;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;

  width: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* On mouse-over, add a deeper shadow */
.cards:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cards img {
  width: 100%;
  aspect-ratio: 1/1;
}

.btn-card {
  background-color: #f2360c;
  border: 2px solid black;
  border-radius: 6px;
  
  width: 50%;
  margin-bottom: 20px;
  padding: 4px;
}

.btn-card:hover {
  background-color: #f48167;

}

/* ----------------------------- */
/* ------------form------------- */
/* ----------------------------- */
form {
  background-color: #f2d0a7;
}
.fieldset1 {
  display: flex;
  flex-direction: column;
  background-color: #f29849;
  border: 2px solid black;
  border-radius: 6px;
  margin-bottom: 20px;
}

legend {
  background-color: #f2360c;
  border: 2px solid black;
  border-radius: 6px;
  padding: 4px;
}

input[type="text"],
input[type="email"] {
  border: solid 2px;
  border-radius: 6px;
  padding: 10px;
  margin: 10px;
  width: 50%;
}
.textarea {
  margin-bottom: 9px;
}



/* ----------------------------- */
/* --------Media Querries------- */
/* ----------------------------- */

@media screen and (max-width:400px) {
    /* ----------------------------- */
    /* ----------Generals----------- */
    /* ----------------------------- */
    body, html{
      width: 100%;
      height: 100%;
      padding: 0px;
      margin: 0px;
    }

    /* ----------------------------- */
    /* ------------Main------------- */
    /* ----------------------------- */
    .texte-image p {
      font-size: 35%;
      font-weight: bold;
    }
  
  
    body .histoire p {
      line-height: 1.5;
      margin: 5px;
    }

    /* ----------------------------- */
    /* ------------Card------------- */
    /* ----------------------------- */
    #cards-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .cards {
      width: 330px;
    }

    /* ----------------------------- */
    /* ------------form------------- */
    /* ----------------------------- */
    .fieldset1 {
      align-items: center;
    }
    .fieldset2 {
      flex-direction: column;
    }
    legend {
      margin-bottom: 5px;
    }
}